<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rlel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rlel.Properties.Settings>
            <setting name="TranqPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SisiPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IV" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="autoPatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dx9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </rlel.Properties.Settings>
    </userSettings>
</configuration>